
.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.header-left {
    font-size: 24px;
    color: #f9faf8;
    font-weight:900;
    padding-left: 100px;
    display: flex;
}

li {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.header-right {
    padding-right: 100px;
}

.hedos {
    display: flex;
    justify-content: center;
    padding: 120px;
    gap: 40px;
}

.palFondo {
    background-image: url(images/mar.jpg);
}

.cuadros {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px;
}

.cuadrito {
    border: #1f2937;
    display: flex;
    flex-direction: block;
}

.mensaje {
    height: 500px;
}

.signUp {
    height: 500px;
}

#textoGrande {
    font-size: 40px;
    font-weight:bolder;
    color: #1f2937;
}

#textoChico {
    font-size: 18px;
    color: #1f2937;
    margin-right: 40px;
}

.texto-Cuadritos {
    color: #e5e7eb;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
}

.cuadrito {
    display: flex;
    flex-direction: column;
}

.imagen {
    border: 2px solid #f9faf8;
}

h2 {
    text-align: center;
    color: #e5e7eb;
    font-size: 40px;
}

.trips {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.links-blancos {
    text-decoration: none;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}

.mensaje {
    display: flex;
    justify-content: center;
    padding: 200px;
}

.recuadro {
    background-color: #f9faf8;
    width: 500px; 
    opacity: 0.4;
    flex: 1;
    height: 350px;
    padding: 60px;
}

#testimonio {
    font-size: 42px;
}

#nombre {
    font-size: 24px;
}

.footer {
    height: 400px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 80px;
    flex-direction: column;
    padding-bottom: 0;
}

#ultimoTexto {
    color: #e5e7eb;
    font-size: 38px;
}

.ultimoTexto2 {
    color: #e5e7eb;
    font-size: 22px;
}

#campo {
    width: 300px;
    height: 30px;
}

button {
    color: #f9faf8;
    height: 30px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #1f2937;
    border-color: #f9faf8; 
    border-style: solid; 
    border-radius: 10px;  
    width: 65px;   
    cursor: pointer;
}

.nose {
    display: flex;
    flex-direction: column;
}

#testo {
    margin: 0;
}

.copy {
    color: #f9faf8;
    text-align:center;
    margin-top: 60px;
}